.head-barbershop {
  position: relative;
  text-align: center;
  &__icons {
    position: absolute;
    top: 697px;
    left: 50%;
    color: $font-color-white;
    transform: translate(-50%, -50%);

  }
  &__img {

  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $font-color-white;
    font-family: playfair;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight:900;
    font-size: 70px;
    width: 315px;
    height: 160px;
    @media (min-width: 768px) {
      width: 634px;
      height: 328px;      
    }

  }
}
