.head-barbershop {
  position: relative;
  text-align: center;
  &__icons {
    position: absolute;
    color: $font-color-white;
    top: 570px;
    font-size: 40px;
    @media (min-width: 768px) {
      top: 80%;
    }
  }
  &__img {
    top: 640px;
    width: auto;
    height: 640px;
    @media (min-width: 768px) {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    position: absolute;
    top: 235px;
    left: 50%;
    color: $font-color-white;
    font-family: playfair;
    transform: translate(-50%, -50%);
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    width: 315px;
    height: 160px;
    @media (min-width: 768px) {
      width: 634px;
      height: 328px;
      font-size: 70px;
      top: 55%;
    }
  }
}
