.head-barbershop {
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("/assets/img/post-image.jpg");
    background-size: cover;
    width: auto;
    height: 800px;
    &__icons {
      color: $font-color-white;
    }
    &__text {
        color: $font-color-white;
    }
  }