.menu-start-object__button{
    color: #fff;
    font-size: 34px;
  
}

.menu-start-object__brand{
    width: 81px;
    margin-left: 30px;
    
}

.menu-start-object__text{
    color: #fff;
}
.nav-link:hover {
    color: $font-color-active;
}