//Variables

$font-color-white:#fff;
$font-color-platinum:#E6E7E7;
$font-color-light-gray:#D1D1D1;
$font-color-fuzzy:#E56353;
$font-color-ruddy:#D76C69;
$font-color-spanish:#ECBCBA;
$font-color-eerie:#121619;
$font-color-raisin:#222323;
$font-color-nickel:#6C6E70;

$fz-xx-large:70px;
$fz-x-large:30px;
$fz-large:18px;
$fz-madium:16px;
$fz-small:12px;

