//Variables

$font-color-white: #fff;
$font-color-platinum: #e6e7e7;
$font-color-light-gray: #d1d1d1;
$font-color-fuzzy: #e56353;
$font-color-ruddy: #d76c69;
$font-color-spanish: #ecbcba;
$font-color-eerie: #121619;
$font-color-raisin: #222323;
$font-color-nickel: #6c6e70;
$font-color-active: #de8684;
$font-color-title-parrafo: #707070;
$font-color-pagination:#1216191A;
 
$fz-xx-large: 70px;
$fz-x-large: 30px;
$fz-large: 18px;
$fz-madium: 16px;
$fz-small: 12px;

$ff-roboto: "roboto";
$ff-playfair: "Playfair Display";
